<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">

        <div class="row">
            <div class="col text-center p-2 mb-3">
                <span><b>Job Request Form</b></span>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="reqNumber" class="form-label"><b>Requistion number</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="reqNumber" class="form-control" formControlName="reqNumber"
                    placeholder="Enter Requisition No">
                <div class="form-text text-danger" *ngIf="reqNumber.errors?.['required']&& (reqNumber.touched||reqNumber.dirty)">
                    Requisition No is Required</div>
                <div class="form-text text-danger" *ngIf="reqNumber.errors?.['pattern']  && (reqNumber.touched||reqNumber.dirty)">
                    Please enter a 6 digit number</div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="grade" class="form-label"><b>Grade</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="grade" class="form-control" formControlName="grade" placeholder="Enter Grade">
                <div class="form-text text-danger" *ngIf="Grade.errors?.['required']&& (Grade.touched||Grade.dirty)">
                    Required</div>
                <div class="form-text text-danger" *ngIf="Grade.errors?.['pattern']  && (Grade.touched||Grade.dirty)">
                    Please enter a number</div>
                <div class="form-text text-danger"
                    *ngIf="(Grade.errors?.['min'] || Grade.errors?.['max']) &&(Grade.touched||Grade.dirty)">Please enter
                    in range 25-35</div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="position" class="form-label"><b>Position</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="position" class="form-control" formControlName="position"
                    placeholder="Enter Position">
                <div class="form-text text-danger"
                    *ngIf="Position.errors?.['required']&& (Position.touched||Position.dirty)">Required</div>
                <div class="form-text text-danger"
                    *ngIf="Position.errors?.['pattern']  && (Position.touched||Position.dirty)">Please enter a valid
                    position</div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="eid" class="form-label"><b>Hm Employee id</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="eid" class="form-control" formControlName="hmemployeeId"
                    placeholder="Enter Hm Employee id">
                <div class="form-text text-danger" *ngIf="hmemployeeId.errors?.['required']&& (hmemployeeId.touched||hmemployeeId.dirty)">Required
                </div>
                <div class="form-text text-danger" *ngIf="hmemployeeId.errors?.['pattern'] && (hmemployeeId.touched||hmemployeeId.dirty)">Please
                    enter 9 digit number</div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="hmEmailId" class="form-label"><b>Hm Email id</b></label>
            </div>
            <div class="col-75">
                <input type="email" id="hmEmailId" class="form-control" formControlName="hmEmailId"
                    placeholder="Enter Hm Email id">
                <div class="form-text text-danger" *ngIf="hmEmailId.errors?.['required']&& (hmEmailId.touched||hmEmailId.dirty)">
                    Required</div>
                <div class="form-text text-danger" *ngIf="hmEmailId.errors?.['pattern']  && (hmEmailId.touched||hmEmailId.dirty)">
                    Please enter a valid email</div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="hmname" class="form-label"><b>Hm Name</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="hmname" class="form-control" formControlName="hmName"
                    placeholder="Enter Hm name">
                <div class="form-text text-danger" *ngIf="hmName.errors?.['required']&& (hmName.touched||hmName.dirty)">
                    Required</div>
                <div class="form-text text-danger"
                    *ngIf=" hmName.errors?.['pattern']  && (hmName.touched||hmName.dirty)">Please enter a valid name
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="jobstatus" class="form-label"><b>Job Status</b></label>
            </div>
            <div class="col-75">
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" formControlName="jobStatus" value="Open" id="open">
                    <label class="form-check-label" for="open">Open</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" formControlName="jobStatus" value="Close" id="close">
                    <label class="form-check-label" for="close">Close</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="location" class="form-label"><b>Location</b></label>
            </div>
            <div class="col-75">
                <select id="location" class="form-control" formControlName="location" style="width: 80%;">
                    <option value="">Select</option>
                    <option value="Banglore">Banglore</option>
                    <option value="Gurgaon">Gurgaon</option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Noida">Noida</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="skillset1" class="form-label"><b>Primary Skillset</b></label>
            </div>
            <div class="col-75">
                <select id="skillset1" class="form-control" formControlName="primarySkillSet" #teams (change)="getSelect1Value(teams.value)" style="width: 80%;">
                    <option value="">Select</option>
                    <option value="AWS">AWS</option>
                    <option value="Angular">Angular</option>
                    <option value="Azure">Azure</option>
                    <option value="Bash/Shell/Powershell">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="C/C++">C++</option>
                    <option value="Docker">Docker</option>
                    <option value="ETL">ETL</option>
                    <option value="GraphQL">GraphQL</option>
                    <option value="Java">Java</option>
                    <option value="Kafka">Kafka</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value=".NET">.NET</option>
                    <option value="PHP">PHP</option>
                    <option value="Python">Python</option>
                    <option value="ReactNative">ReactNative</option>
                    <option value="Salesforce">Salesforce</option>
                    <option value="Selenium">Selenium</option>
                    <option value="Snowflake">Snowflake</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="skillset2" class="form-label"><b>Secondary Skillset</b></label>
            </div>
            <div class="col-75">
                <select id="skillset2" class="form-control" formControlName="secondarySkillSet" #teams1 (change)="getSelect2Value(teams1.value)"style="width: 80%;">
                    <option value="">Select</option>
                    <option value="Angular">Angular</option>
                    <option value="Azure">Azure</option>
                    <option value="Bash/Shell/Powershell">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="C/C++">C++</option>
                    <option value="Docker">Docker</option>
                    <option value="ETL">ETL</option>
                    <option value="GraphQL">GraphQL</option>
                    <option value="Java">Java</option>
                    <option value="Kafka">Kafka</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value=".NET">.NET</option>
                    <option value="PHP">PHP</option>
                    <option value="Python">Python</option>
                    <option value="ReactNative">ReactNative</option>
                    <option value="Salesforce">Salesforce</option>
                    <option value="Selenium">Selenium</option>
                    <option value="Snowflake">Snowflake</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="skillset3" class="form-label"><b>Good to have skillset</b></label>
            </div>
            <div class="col-75">
                <select class="form-control" id="skillset3" formControlName="goodToHaveSkillSet" style="width: 80%;">
                    <option value="">Select</option>
                    <option value="Angular">Angular</option>
                    <option value="Azure">Azure</option>
                    <option value="Bash/Shell/Powershell">JavaScript</option>
                    <option value="C#">C#</option>
                    <option value="CSS">CSS</option>
                    <option value="C/C++">C++</option>
                    <option value="Docker">Docker</option>
                    <option value="ETL">ETL</option>
                    <option value="GraphQL">GraphQL</option>
                    <option value="Java">Java</option>
                    <option value="Kafka">Kafka</option>
                    <option value="MongoDB">MongoDB</option>
                    <option value=".NET">.NET</option>
                    <option value="PHP">PHP</option>
                    <option value="Python">Python</option>
                    <option value="ReactNative">ReactNative</option>
                    <option value="Salesforce">Salesforce</option>
                    <option value="Selenium">Selenium</option>
                    <option value="Snowflake">Snowflake</option>
                </select>
            </div>
        </div>

        <br>
        <div style="float:right">
            <input type="submit" [disabled]="!registerForm.valid" value="Submit">
        </div>

    </form>
</div>