<p>edit-record works!</p>
<div class="container">
    <form (ngSubmit)="updateData()">

        <div class="row">
            <div class="col text-center p-2 mb-3">
                <span><b>Job Request Form</b></span>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="reqNumber" class="form-label"><b>Requistion number</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="reqNumber"  class="form-control" name ="reqNumber" [(ngModel)]="jobRequest.reqNumber"
                    placeholder="Enter Requisition No">
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="grade" class="form-label"><b>Grade</b></label>
            </div>
            <div class="col-75">
                <input type="text" id="grade" class="form-control"     placeholder="Enter Grade">

            </div>
        </div>

        <br>
        <div style="float:right">
            <input type="submit" value="Submit">
        </div>

    </form>
</div>